[project]
name = "sske-backend"
version = "0.1.0"
requires-python = ">=3.10"
dependencies = [
  "fastapi",
  "pydantic",
  "uvicorn",
  "sqlalchemy",
  "psycopg2-binary",
  "alembic",
]

[project.scripts]
app = "app.main:app"
